<dpg:DrawerPage
    navigatedTo="onNavigatingTo"  
    xmlns:dpg="nativescript-telerik-ui/sidedrawer/drawerpage"
    xmlns:drawer="nativescript-telerik-ui/sidedrawer"
    xmlns:myDrawer="shared/my-drawer"
    xmlns="http://www.nativescript.org/tns.xsd">

    <dpg:DrawerPage.sideDrawer>
        <drawer:RadSideDrawer id="sideDrawer">
          <!--Customize your transition-->
          <drawer:RadSideDrawer.drawerTransition>
            <drawer:PushTransition/>
          </drawer:RadSideDrawer.drawerTransition>

          <drawer:RadSideDrawer.drawerContent>
            <!--Add your drawer content here. If it's a custom component, add the xmlns to the DrawerPage tag above-->
            <StackLayout>
                <myDrawer:MyDrawer />
            </StackLayout>
            <!--End of drawer content-->
          </drawer:RadSideDrawer.drawerContent>
        </drawer:RadSideDrawer>
    </dpg:DrawerPage.sideDrawer>

    <!--Add your page content here-->
    <ActionBar title="Settings">
        <ActionItem android.systemIcon="ic_menu_account_list" tap="onOpenDrawerTap" />
    </ActionBar>

    <StackLayout>
        <Label text="Settings Page"/>
    </StackLayout>
</dpg:DrawerPage>
