<GridLayout>
    <ActionBar title="Home">
        <ActionItem android.systemIcon="ic_menu_account_list" (tap)="openDrawer()"></ActionItem>
    </ActionBar>

    <RadSideDrawer #drawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
        <StackLayout tkDrawerContent>
            <StackLayout>
                <MyDrawer></MyDrawer>
            </StackLayout>
        </StackLayout>
        
        <StackLayout tkMainContent>
            <Label text="Home Page"></Label>
        </StackLayout>
    </RadSideDrawer>
</GridLayout>