// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';
// Start custom common variables
@import '../sass/app-variables';
// End custom common variables

// Drawer navigation custom styles
.sidedrawer-left .sidedrawer-header-image {
    margin-bottom: 15;
}

.sidedrawer-left .footnote {
    color: rgba($ab-color, 0.5);
}

.sidedrawer-header {
    background-color: $ab-background;
}

.sidedrawer-header .sidedrawer-header-brand {
    color: $ab-color;
}

.sidedrawer-content {
    background-color: $side-drawer-background;
}

.sidedrawer-content,
.sidedrawer-content ListView {
    height: 100%;
}

.sidedrawer-list-item Label {
    vertical-align: center;
}

.sidedrawer-content ListView .selected {
    background-color: $item-active-background;
    color: $item-active-color;
}

.sidedrawer-content ListView .selected .mdi {
    color: $item-active-icon-color;
}